*{
    margin: 0;
    padding: 0;
    border: 0px;
    box-sizing: border-box;
}

/* .container{
    width: 400px;
    height: 50vh;
    margin:  auto;
    padding: 20px;
    border-radius: 10px;
    background-color: #d3d3d3;
}
#result-screen{
    width: 95%;
    height: 10%;
    padding: 1px;
    margin: 2px;
    font-size: 18px;
}
button{
    border-radius: 100px;
    background-color: #008b8b;
    font-size: 18px;
    width: 80px;
    height: 50px;
    margin: 5px 6px;
}
.operator{
    color: #00008b;
}

@media (max-width:600px) {
    .container{
        width: auto;
        height: auto;
        padding: 10px;
    }
   
    button{
        font-size: 16px;
        width: 60px;
        height: 40px;
        margin: 5px 12px;
    }
    
} */




section{
    background-color: rgb(18,26,31);
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    width: 90%;
    max-width: 400px;
    background-color: rgb(39,55,59);
    border-radius: 8px;
    overflow: hidden;
}
.display{
    background-color: rgb(182,182,182);
    height: 100px;
    width: 100%;
    text-align: right;
    padding: 20px;
    font-size: 30px;
    position: relative;
}
.display-1{
    opacity: 0.4;
    font-size: 20px;
    height: 20px;
    overflow: hidden;
}
.temp-result{
    position: absolute;
    bottom: 0;
    left: 10;
    font-size: 20px;
    opacity: .4;
}
.all-buttons{
    color: whitesmoke;
    display: grid;
    grid-template: repeat(4,1fr) / repeat(4,1fr);
}
.button{
    border: .5px solid rgba(92,92,92,0.137);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 100%;
    font-size: 30px;
    cursor: pointer;
}
.btn-0{
    grid-column: 1/3;
}